<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--css-->
    {{#each style}}
    <link rel="stylesheet" type="text/css" href="css/{{this}}">
    {{/each}}
    {{{_sections.css}}}
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!--font awesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bracket/0.11.1/jquery.bracket.min.css">

    <title>{{title}}</title>
</head>

<body>
    <!--Nav-->
    {{#if isAuthenticated}}
    <li class="nav justify-content-end">
        <a href="/logout" class="nav-link text-white">
            <i class="fa fa-id-badge" aria-hidden="true"></i>
            sign-out
        </a>
    </li>
    {{else}}
    <li class="nav justify-content-end">
        <a href="/login" class="nav-link text-white">
            <i class="fa fa-id-badge" aria-hidden="true"></i>
            login
        </a>
    </li>
    {{/if}}
    <nav class="navbar navbar-expand-lg shadow text-light sticky-top">
        <a class="navbar-brand text-light" href="/">NMCNPM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="/">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/player">Player</a>
                </li>
                <li class="nav-item ">
                    <a href="/overview" class="nav-link text-light">OverView</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link text-light">About</a>
                </li>
                
                {{#if isAuthenticated}}
                <li class="nav justify-content-end">
                    <a href="/listTournament" class="nav-link text-white">
                        Tournament
                    </a>
                </li>
                {{/if}}
            </ul>
            <!--<form class="form-inline md-form form-sm mt-0">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                    aria-label="Search">
            </form>-->
            <p class="my-auto mr-1">Tournament:</p>
            <form class="form-inline md-form form-sm mt-0" method="POST" action="/current">
                <select class="form-control overflow-hidden" name = "current" id="changeTournament" dir="rtl" onchange="this.form.submit();">
                    {{#each list}}
                    <option value="{{idTournament}}" {{#if_eq idTournament ../current}}selected="selected"{{/if_eq}}>
                        {{nameTournament}}
                    </option>
                    {{/each}}
                </select>
            </form>     
        </div>
    </nav>
    <!--/Nav-->

    <!--container-->
    {{{body}}}
    <hr>
    <footer class="page-footer font-small mdb-color lighten-3 pt-4 text-white">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Contact details -->
                    <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p><i class="fa fa-home"></i> địa chỉ: HCMUS</p>
                        </li>
                        <li>
                            <p><i class="fa fa-at"></i>email: Inc@gmail.com </p>
                        </li>
                        <li>
                            <p><i class="fa fa-phone"></i>phone-number: 0123 456 789</p>
                        </li>
                        <li>
                            <p><i class="fa fa-fax"></i>fax: 9876543210</p>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- <hr class="clearfix w-100 d-md-none"> -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 text-left mx-auto my-4">

                    <!-- Social buttons -->
                    <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
                    <ul class="list-unstyled">
                        <li>
                            <!-- Facebook -->
                            <a href="/">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <!-- Twitter -->
                            <a href="/">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </footer>
    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    {{#each js}}
    <script type="text/javascript" src="js/{{this}}"></script>
    {{/each}}
    {{{_sections.js}}}

</body>

</html>