        <!--container-->
        <div class="container-fluid">
            {{#each tournament}}
            <div class="row d-flex justify-content-center mb-5">
                <div class="text-center text-white">
                    <p class="h1 mb-5">
                        {{nameTournament}}
                    </p>
                    <div style="max-width: 600px;">
                        {{{TinyDescription}}}
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center my-auto">
                <div class="col-3 text-warning">
                    <span>
                        <i class="fa fa-usd fa-2x" aria-hidden="true"></i>
                    </span>
                    <p>Tournament Price</p>
                    <p class="limit-text">
                        {{formatMoney prizeTournament}}
                    </p>
                </div>
                <div class="col-3 text-info">
                    <span>
                        <i class="fa fa-code fa-2x" aria-hidden="true"></i>
                    </span>
                    <p>Rules</p>
                    <p class="limit-text">
                       {{{Rule}}}
                    </p>
                </div>
                <div class="col-3 text-success">
                    <span>
                        <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                    </span>
                    <p>Dates</p>
                    <p class="limit-text">
                        {{formatDate dateStart}} - {{formatDate dateEnd}}
                    </p>
                </div>
            </div>
            <div class="row d-flex justify-content-center mb-5">
                <div class="text-center text-white">
                    <h3 class="h1 mb-5">
                        Description
                    </h3>
                    <div class="mx-3">
                        {{{FullDescription}}}
                    </div>
                </div>
            </div>

            {{/each}}
        </div>
        <!--/container-->