{{#section 'css'}}
{{/section}}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-8 d-flex align-items-center flex-column mt-auto text-white ">
            <div class="h4">
                What's game we play??
            </div>
            <div class="h1" style="font-size: 80px;">
                WE PLAY
            </div>
            <div class="h1 text-danger" style="font-size: 100px;">
                {{tournament.nameGame}}
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center custom-card">
                <div class="card-header">
                    UP COMING MATCHES
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush maxH-group">
                        {{#each upcoming}}
                        <li class="list-group-item">
                            <div class="clearfix "> 
                                <div class="float-left maxW">
                                    <p>{{name1}}</p>
                                    <p>VS</p>
                                    <p>{{name2}}</p>
                                </div>
                                <div class="float-right">
                                    <p>{{s1}}</p>
                                    <p>-</p>
                                    <p>{{s2}}</p>
                                </div>
                            </div>
                            <h6 class="mt-2">{{date}}</h6>
                        </li>
                        {{/each}}
                        {{#each finished}}
                        <li class="list-group-item finished">
                            <div class="clearfix "> 
                                <div class="float-left maxW">
                                    <p>{{name1}}</p>
                                    <p>VS</p>
                                    <p>{{name2}}</p>
                                </div>
                                <div class="float-right">
                                    <p>{{s1}}</p>
                                    <p>-</p>
                                    <p>{{s2}}</p>
                                </div>
                            </div>
                            <h6 class="mt-2">{{date}}</h6>
                        </li>
                        {{/each}}

                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="title" id="123">
        <h1>{{tournament.nameTournament}}</h1>
    </div>

    <div class="d-flex flex-column float-left">
    {{#if isAuthenticated}}
    {{#if status}}
    {{#if_eq num 16}}
    <form method="POST" >
        <input type="hidden" name="id" value="{{current}}">
        <button type="submit" class="btn btn-danger float-left numPlayer" formaction="/startTournament/1">
            Random players
        </button>
    </form>
    <form method="POST" >
        <input type="hidden" name="id" value="{{current}}">
        <button type="submit" class="btn btn-danger float-left numPlayer" formaction="/startTournament/0">
            No random
        </button>
    </form>
    {{else}}
    <form action="/player">
        <button type="submit" class="btn btn-danger float-left numPlayer">
            {{num}}/16 players</br>
            Click to manage players
        </button>
    </form>
    {{/if_eq}}
    {{/if}}
    {{/if}}

    {{#if isAuthenticated}}
    {{#if_eq status 0}}
    {{#if editable}}
    <form action="/">
        <button type="submit" class="btn btn-danger float-left numPlayer">
            Finish
        </button>
    </form>
    {{else}}
    <form action="/">
        <input type="hidden" name="editable" value="1">
        <button type="submit" class="btn btn-danger float-left numPlayer">
            Edit score
        </button>
    </form>
    {{/if}}
    {{/if_eq}}
    {{/if}}

    </div>
    <span class="info float-right">Hover or click on individual matchs for more infomations</span>
    <div class="bracket my-5"></div>

</div>
{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bracket/0.11.1/jquery.bracket.min.js"></script>
<script>
    var doubleElimination = {{{bracketFormat}}};
    if ({{isAuthenticated}} && {{status}} == 0 && {{editable}} == 1){
        init(doubleElimination);
    }
    else{
        initGuest(doubleElimination);
    }
</script>
{{/section}}

