{{#section 'css'}}
{{/section}}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-8 d-flex align-items-center justify-content-start flex-column mt-auto text-white ">
            <div class="h4">
                What's game we play??
            </div>
            <div class="h1" style="font-size: 80px;">
                WE PLAY
            </div>
            <div class="h1 text-danger" style="font-size: 100px;">
                {{tournament.nameGame}}
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center custom-card">
                <div class="card-header">
                    UP COMING MATCHES
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush maxH-group">
                        {{#each upcoming}}
                        <li class="list-group-item">
                            <div class="clearfix "> 
                                <div class="float-left maxW">
                                    <p>{{name1}}</p>
                                    <p>VS</p>
                                    <p>{{name2}}</p>
                                </div>
                                <div class="float-right">
                                    <p>{{s1}}</p>
                                    <p>-</p>
                                    <p>{{s2}}</p>
                                </div>
                            </div>
                            <h6 class="mt-2">{{date}}</h6>
                        </li>
                        {{/each}}
                        {{#each finished}}
                        <li class="list-group-item finished">
                            <div class="clearfix "> 
                                <div class="float-left maxW">
                                    <p>{{name1}}</p>
                                    <p>VS</p>
                                    <p>{{name2}}</p>
                                </div>
                                <div class="float-right">
                                    <p>{{s1}}</p>
                                    <p>-</p>
                                    <p>{{s2}}</p>
                                </div>
                            </div>
                            <h6 class="mt-2">{{date}}</h6>
                        </li>
                        {{/each}}

                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="title" id="123">
        <h1>{{tournament.nameTournament}}</h1>
    </div>
    <div class="bracket my-5"></div>

</div>
{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bracket/0.11.1/jquery.bracket.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/popper.min.js"></script>
<script>
    var doubleElimination = {{{bracketFormat}}};
    if ({{isAuthenticated}}){
        init(doubleElimination);
    }
    else{
        initGuest(doubleElimination);
    }
</script>
{{/section}}

