    <!--container-->
    <div class="container">
        <div class="text-center text-white">
            <p class="h1">
                PLAYERS
            </p>
        </div>
        <table class="table table-hover text-white">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Real name</th>
                <th scope="col">Date of birth</th>
                <th scope="col">Status</th>
                <th scope="col">Tournament</th>
                {{#if isAuthenticated}}<th scope="col">Detail</th>{{/if}}
                </tr>
            </thead>
            <tbody>
                {{#each this.player}}
                <td scope="row">*</td>
                <td>{{usernamePlayer}}</td>
                <td>{{realnamePlayer}}</td>
                <td>{{DoB}}</td>
                <td>{{branch}}</td>
                <td>{{nameTournament}}</td>
                {{#if ../isAuthenticated}}
                <td>
                    <a href="/player/{{idPlayer}}" role="button" class="btn btn-outline-success">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
                {{/if}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{#if isAuthenticated}}
    <a href="/player/{{current}}/addPlayer" class="btn btn-outline-primary">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add
    </a>
    {{/if}}
</div>