{{#section 'css'}}
<style>
    html,
    body {
        height: 100%;
    }

    #grad {
        background-image: linear-gradient(red 25%, black 60%);
        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #limit-text {
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    .first {
        text-decoration-line: none;
    }

    .first:hover {
        color: yellow;

    }

    .second:hover {
        color: rgb(153, 138, 138);

    }

    .third:hover {
        color: rgba(167, 55, 55, 0.884);
    }

    .player:hover {
        text-decoration: none;
    }
</style>
{{/section}}
<div class="container">
    <div class=" row mt-3 d-flex justify-content-center mb-4">
        <a href="/player" class="player">
            <div class="card text-dark " style="width: 15rem;">
                <img src="img/ava.jpg" class="card-img-top" width="70%" height="70%" alt="champion">
                <div class="card-body text-center first ">
                    <h5 class="card-title ">{{this.overviews.PlayerChamUName}}</h5>
                    <p class="card-text ">{{this.overviews.PlayerChamRName}}</p>
                    <img src="img/1st.png" class="card-img-top" alt="..." height="150px">
                </div>
            </div>
        </a>
    </div>

    <div class="row bt-3 text-center">
        <div class="col">
            <p class="h3 text-success">Viewers</p>
            <p class='h1 text-success'>{{this.overviews.viewers}}</p>
        </div>
        <div class="col">
            <p class="h3 text-danger">Most kill player</p><br>
            <p class='h3 text-danger'>{{this.overviews.PlayerKillUName}}</p>
        </div>
        <div class="col">
            <p class="h3 text-dark">Description</p><br>
            <p class='text-white'>{{this.overviews.Discription}}</p>
        </div>
    </div>
</div>